@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.5s ease-in-out;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* .Hero {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
 */
.down {
  bottom: -20rem;
}

.marginUp {
  margin-top: -8vh;
}

.banner {
  position: relative;
}

.fade {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #FFF 1.23%, rgba(255, 255, 255, 0.00) 51%, #FFF 99.98%);
  top: 0;
}

.text-gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  /* Color de texto de respaldo en caso de que no se admita background-clip */
  color: transparent;
}

@media (max-width: 768px) {
  .marginUp {
    margin-top: 20px;
  }
}